//Compass Dependencies
@import "compass/css3/border-radius";
@import "compass/css3/text-shadow";
@import "compass/css3/transition";
@import "compass/css3/transform";

@import "normalize-2.1.3";
@import "variables";
@import "github";
@import "font-face";
@import "font-awesome-4.0.3";


//Layout rules
*{
	font-family: OpenSans Light;
}

header{
	width: 100%;
	height: 350px;
	padding-top: 20px;
	background-color: $sideshow-example-base-color;
}

body{
	padding-bottom: 40px;
	margin: 0;
}

#header_content{
	height: 100%;
}

#introducing_sideshow{
	position: absolute;
	z-index: 10;
	right: 0;
	top: 80px;
	width: 330px;
	text-align: right;
	color: $sideshow-example-secondary-color-dark;
}

#introducing_sideshow em{
	color: #FFF;
	font-style: normal;
	background-color: $sideshow-example-secondary-color;
	line-height: 25px;
}

header img{
	position: absolute;
	top: 20px;
}

.main-content{
	position: relative;
	width: 920px;
	margin: auto;
}

#run_example{
	@include fa-play;
}


#get_sideshow{
	@include fa-download;
}

#run_example, #get_sideshow, #live_example{
	@include border-radius(4px);
	@include transition(background-color 300ms ease, border-bottom-width 100ms ease);
	border: solid 1px darken($sideshow-example-base-color, 80){
		bottom-width: 5px;
	};
	color: #FFF;
	position: absolute;
	bottom: 50px;

	&:before{
		margin-right: 10px;
	}

	&:after{
		content: '';
		display: inline-block;
		width: 5px;
	}

	&:hover{
		&:after{
			content: "!";
		}
	}

	&:active{
		border-bottom-width: 1px;
		outline-width: 0;
	}
}

#live_example{
	@include fa-flash;
	border-bottom-width: 3px;
	font-size: 18px;
	padding: 7px{
		right: 10px;
		left: 16px;
	};
	color: darken($sideshow-example-secondary-color, 30);
	background-color: lighten($sideshow-example-secondary-color-dark, 40);
	left: 310px;

	&:before{
		font-size: 18px;
	}

	&:hover{
		background-color: $sideshow-example-secondary-color;
	}

	&:active{
		background-color: #777;
	}
}

#run_example, #get_sideshow{
	border-bottom-width: 5px;
	font-size: 26px;
	padding: 10px{
		right: 15px;
		left: 20px;
	};
	background-color: $sideshow-example-secondary-color-dark;
	left: 0;

	&:before{
		font-size: 26px;
	}

	&:hover{
		background-color: $sideshow-example-secondary-color;
	}

	&:active{
		background-color: #777;
	}
}

.forkme{
	position: absolute;
	top: 0; 
	right: 0; 
	border: 0;
	z-index: 9;
}

.browsehappy{
	@include fa-exclamation-triangle;
	background-color: #700;
	color: #FFF;
	display: block;
	margin: 0;
	line-height: 50px;
	padding-left: 30px;
	height: 50px;
	a{
		color: #FFF;
	}
	&:before{
		margin-right: 5px;
	}
}

#wrapper{
	padding-top: 20px;
	#{headings()}{
		font-family: OpenSans Semibold;
		font-weight: normal;
	}

	h1{
		font-size: 22px;
		text-transform: uppercase;
	}
}

footer{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding-right: 10px;
	height: 30px;
	background-color: rgba(#FFF, 0.8); 
	font-size: 12px;
	text-align: right;
	a{
		font-family: OpenSans Semibold;
		color: #333;
		text-decoration: none;
	}
}

