@font-face {
  font-family: 'FontAwesome';
  src: url('#{$sideshow-fonts-path}/FontAwesome-4.0.3/fontawesome-webfont.eot?v=4.0.3');
  src: url('#{$sideshow-fonts-path}/FontAwesome-4.0.3/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('#{$sideshow-fonts-path}/FontAwesome-4.0.3/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('#{$sideshow-fonts-path}/FontAwesome-4.0.3/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('#{$sideshow-fonts-path}/FontAwesome-4.0.3/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'OpenSans Light';
    src: url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-light-webfont.eot');
    src: local('☺'), 
         url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-light-webfont.woff') format('woff'),
         url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-light-webfont.ttf') format('truetype'),
         url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans Semibold';
    src: url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-semibold-webfont.eot');
    src: local('☺'), 
         url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-semibold-webfont.woff') format('woff'),
         url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-semibold-webfont.ttf') format('truetype'),
         url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}