@font-face {
  font-family: 'sideshow-icons';
  src: url(sideshow-fonts-path + 'sideshow-icons/sideshow-icons.eot');
  src: url(sideshow-fonts-path + 'sideshow-icons/sideshow-icons.eot?#iefix') format('embedded-opentype'), 
       url(sideshow-fonts-path + 'sideshow-icons/sideshow-icons.woff') format('woff'), 
       url(sideshow-fonts-path + 'sideshow-icons/sideshow-icons.ttf') format('truetype'), 
       url(sideshow-fonts-path + 'sideshow-icons/sideshow-icons.svg#sideshow-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'OpenSans Light';
    src: url(sideshow-fonts-path + 'open-sans-family/opensans-light.eot');
    src: local('☺'), 
         url(sideshow-fonts-path + 'open-sans-family/opensans-light.eot?#iefix') format('embedded-opentype'),
         url(sideshow-fonts-path + 'open-sans-family/opensans-light.woff') format('woff'),
         url(sideshow-fonts-path + 'open-sans-family/opensans-light.ttf') format('truetype'),
         url(sideshow-fonts-path + 'open-sans-family/opensans-light.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans Semibold';
    src: url(sideshow-fonts-path + 'open-sans-family/opensans-semibold.eot');
    src: local('☺'), 
         url(sideshow-fonts-path + 'open-sans-family/opensans-semibold.eot?#iefix') format('embedded-opentype'),
         url(sideshow-fonts-path + 'open-sans-family/opensans-semibold.woff') format('woff'),
         url(sideshow-fonts-path + 'open-sans-family/opensans-semibold.ttf') format('truetype'),
         url(sideshow-fonts-path + 'open-sans-family/opensans-semibold.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}



if sideshow-enable-whole-opensans-family {
    @font-face {
        font-family: 'OpenSans Bold Italic';
        src: url(sideshow-fonts-path + 'open-sans-family/opensans-bolditalic.eot');
        src: local('☺'), 
             url(sideshow-fonts-path + 'open-sans-family/opensans-bolditalic.eot?#iefix') format('embedded-opentype'),
             url(sideshow-fonts-path + 'open-sans-family/opensans-bolditalic.woff') format('woff'),
             url(sideshow-fonts-path + 'open-sans-family/opensans-bolditalic.ttf') format('truetype'),
             url(sideshow-fonts-path + 'open-sans-family/opensans-bolditalic.svg#open_sansbold_italic') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'OpenSans Bold';
        src: url(sideshow-fonts-path + 'open-sans-family/opensans-bold.eot');
        src: local('☺'), 
             url(sideshow-fonts-path + 'open-sans-family/opensans-bold.eot?#iefix') format('embedded-opentype'),
             url(sideshow-fonts-path + 'open-sans-family/opensans-bold.woff') format('woff'),
             url(sideshow-fonts-path + 'open-sans-family/opensans-bold.ttf') format('truetype'),
             url(sideshow-fonts-path + 'open-sans-family/opensans-bold.svg#open_sansbold') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'OpenSans Extra Bold';
        src: url(sideshow-fonts-path + 'open-sans-family/opensans-extrabold.eot');
        src: local('☺'), 
             url(sideshow-fonts-path + 'open-sans-family/opensans-extrabold.eot?#iefix') format('embedded-opentype'),
             url(sideshow-fonts-path + 'open-sans-family/opensans-extrabold.woff') format('woff'),
             url(sideshow-fonts-path + 'open-sans-family/opensans-extrabold.ttf') format('truetype'),
             url(sideshow-fonts-path + 'open-sans-family/opensans-extrabold.svg#open_sansextrabold') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'OpenSans Extra Bold Italic';
        src: url(sideshow-fonts-path + 'open-sans-family/opensans-extrabolditalic.eot');
        src: local('☺'), 
             url(sideshow-fonts-path + 'open-sans-family/opensans-extrabolditalic.eot?#iefix') format('embedded-opentype'),
             url(sideshow-fonts-path + 'open-sans-family/opensans-extrabolditalic.woff') format('woff'),
             url(sideshow-fonts-path + 'open-sans-family/opensans-extrabolditalic.ttf') format('truetype'),
             url(sideshow-fonts-path + 'open-sans-family/opensans-extrabolditalic.svg#open_sansextrabold_italic') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'OpenSans Bold Italic';
        src: url(sideshow-fonts-path + 'open-sans-family/opensans-italic.eot');
        src: local('☺'), 
             url(sideshow-fonts-path + 'open-sans-family/opensans-italic.eot?#iefix') format('embedded-opentype'),
             url(sideshow-fonts-path + 'open-sans-family/opensans-italic.woff') format('woff'),
             url(sideshow-fonts-path + 'open-sans-family/opensans-italic.ttf') format('truetype'),
             url(sideshow-fonts-path + 'open-sans-family/opensans-italic.svg#open_sansitalic') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    
    @font-face {
        font-family: 'OpenSans Light Italic';
        src: url(sideshow-fonts-path + 'open-sans-family/opensans-lightitalic.eot');
        src: local('☺'), 
             url(sideshow-fonts-path + 'open-sans-family/opensans-lightitalic.eot?#iefix') format('embedded-opentype'),
             url(sideshow-fonts-path + 'open-sans-family/opensans-lightitalic.woff') format('woff'),
             url(sideshow-fonts-path + 'open-sans-family/opensans-lightitalic.ttf') format('truetype'),
             url(sideshow-fonts-path + 'open-sans-family/opensans-lightitalic.svg#open_sanslight_italic') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'OpenSans Regular';
        src: url(sideshow-fonts-path + 'open-sans-family/opensans-regular.eot');
        src: local('☺'), 
             url(sideshow-fonts-path + 'open-sans-family/opensans-regular.eot?#iefix') format('embedded-opentype'),
             url(sideshow-fonts-path + 'open-sans-family/opensans-regular.woff') format('woff'),
             url(sideshow-fonts-path + 'open-sans-family/opensans-regular.ttf') format('truetype'),
             url(sideshow-fonts-path + 'open-sans-family/opensans-regular.svg#open_sansregular') format('svg');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'OpenSans SemiBold Italic';
        src: url(sideshow-fonts-path + 'open-sans-family/opensans-semibolditalic.eot');
        src: local('☺'), 
             url(sideshow-fonts-path + 'open-sans-family/opensans-semibolditalic.eot?#iefix') format('embedded-opentype'),
             url(sideshow-fonts-path + 'open-sans-family/opensans-semibolditalic.woff') format('woff'),
             url(sideshow-fonts-path + 'open-sans-family/opensans-semibolditalic.ttf') format('truetype'),
             url(sideshow-fonts-path + 'open-sans-family/opensans-semibolditalic.svg#open_sanssemibold_italic') format('svg');
        font-weight: normal;
        font-style: normal;
    }
}
