@font-face {
  font-family: 'FontAwesome';
  src: url('#{$sideshow-fonts-path}/FontAwesome-4.0.3/fontawesome-webfont.eot?v=4.0.3');
  src: url('#{$sideshow-fonts-path}/FontAwesome-4.0.3/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('#{$sideshow-fonts-path}/FontAwesome-4.0.3/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('#{$sideshow-fonts-path}/FontAwesome-4.0.3/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('#{$sideshow-fonts-path}/FontAwesome-4.0.3/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'OpenSans Light';
    src: url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-light-webfont.eot');
    src: local('☺'), 
         url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-light-webfont.woff') format('woff'),
         url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-light-webfont.ttf') format('truetype'),
         url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans Semibold';
    src: url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-semibold-webfont.eot');
    src: local('☺'), 
         url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-semibold-webfont.woff') format('woff'),
         url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-semibold-webfont.ttf') format('truetype'),
         url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}



@if $sideshow-enable-whole-opensans-family {
	@font-face {
	    font-family: 'OpenSans Bold Italic';
	    src: url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-bolditalic-webfont.eot');
	    src: local('☺'), 
	         url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
	         url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-bolditalic-webfont.woff') format('woff'),
	         url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-bolditalic-webfont.ttf') format('truetype'),
	         url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-bolditalic-webfont.svg#open_sansbold_italic') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'OpenSans Bold';
	    src: url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-bold-webfont.eot');
	    src: local('☺'), 
	         url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
	         url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-bold-webfont.woff') format('woff'),
	         url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-bold-webfont.ttf') format('truetype'),
	         url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-bold-webfont.svg#open_sansbold') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'OpenSans Extra Bold';
	    src: url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-extrabold-webfont.eot');
	    src: local('☺'), 
	         url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
	         url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-extrabold-webfont.woff') format('woff'),
	         url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-extrabold-webfont.ttf') format('truetype'),
	         url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'OpenSans Extra Bold Italic';
	    src: url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-extrabolditalic-webfont.eot');
	    src: local('☺'), 
	         url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'),
	         url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-extrabolditalic-webfont.woff') format('woff'),
	         url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-extrabolditalic-webfont.ttf') format('truetype'),
	         url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-extrabolditalic-webfont.svg#open_sansextrabold_italic') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'OpenSans Bold Italic';
	    src: url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-italic-webfont.eot');
	    src: local('☺'), 
	         url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
	         url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-italic-webfont.woff') format('woff'),
	         url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-italic-webfont.ttf') format('truetype'),
	         url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-italic-webfont.svg#open_sansitalic') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}

	
	@font-face {
	    font-family: 'OpenSans Light Italic';
	    src: url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-lightitalic-webfont.eot');
	    src: local('☺'), 
	         url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
	         url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-lightitalic-webfont.woff') format('woff'),
	         url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-lightitalic-webfont.ttf') format('truetype'),
	         url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-lightitalic-webfont.svg#open_sanslight_italic') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'OpenSans Regular';
	    src: url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-regular-webfont.eot');
	    src: local('☺'), 
	         url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
	         url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-regular-webfont.woff') format('woff'),
	         url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-regular-webfont.ttf') format('truetype'),
	         url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-regular-webfont.svg#open_sansregular') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'OpenSans SemiBold Italic';
	    src: url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-semibolditalic-webfont.eot');
	    src: local('☺'), 
	         url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
	         url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-semibolditalic-webfont.woff') format('woff'),
	         url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-semibolditalic-webfont.ttf') format('truetype'),
	         url('#{$sideshow-fonts-path}/OpenSansFamily/opensans-semibolditalic-webfont.svg#open_sanssemibold_italic') format('svg');
	    font-weight: normal;
	    font-style: normal;
	}

}