//Elements which can fade
//@abstract
%sideshow-fadable-element{
	@include transition(opacity $sideshow-long-transition-duration ease);
}

//A Sideshow mask
//@abstract
%sideshow-mask{
	@extend %sideshow-fadable-element;
	position: fixed;
	opacity: $sideshow-mask-opacity;
	background-color: $sideshow-mask-background-color;
}

//Masks a subject
//@extends %sideshow-mask
.sideshow-subject-mask{
	@extend %sideshow-mask;
	@include absolute-full-size;
	z-index: 14999;
	width: 0;
	height: 0;
}

//A part of the composite mask (the mask used by Sideshow to surround a subject)
//@extend %sideshow-mask
.sideshow-mask-part{
	@extend %sideshow-mask;
	z-index: 15000;
}

//A part of the composite mask to be positionated at the corners of a subject (if the subject has rounded corners)
//It uses a dynamically generated SVG to cover the white hole which remains when masking rounded corner subjects
//@extends %sideshow-mask
.sideshow-mask-corner-part{
	@extend %sideshow-mask;
	background-color: transparent;
	z-index: 15001;
	overflow: hidden;
	svg{
		position: absolute;
		left: 0;
		top: 0;
		path {
			fill: $sideshow-mask-background-color;
		}
	}

	&.leftTop{
		@include transform(rotate(0deg));
	}

	&.rightTop{
		@include transform(rotate(90deg));
	}

	&.leftBottom{
		@include transform(rotate(270deg));
	}

	&.rightBottom{
		@include transform(rotate(180deg));
	}
}

//CSS way to make something invisible but holding space 
.sideshow-invisible{
	opacity: 0!important;
}

//CSS way to avoid rendering something
.sideshow-hidden{
	display: none!important;
}

//Occupying the biggest of the four parts of the composite mask
.sideshow-details-panel{
	position: fixed;
	z-index: 15001;
}

//An area positionaed over the .sideshow-details-panel where the step description text is shown
//@extends %sideshow-fadable-element
.sideshow-step-description{
	@extend %sideshow-fadable-element;
	position: absolute;
	display: inline-block;
	background-color: rgba($sideshow-step-description-background-color, 0.7);
	padding: 21px;

	//The step title
	h2{
		display: inline-block;
		font-size: $sideshow-big-font-size;
		text-transform: uppercase;
		color: $sideshow-step-description-title-color;
		margin-bottom: 10px;
	}

	//The step position indicator (e.g. 3/11 -> The step 3 of 11)
	.sideshow-step-position{
		display: inline-block;
		font-family: $sideshow-default-semibold-font-family;
		font-size: $sideshow-big-font-size;
		color: $sideshow-step-position-color;
		margin-right: 10px;
	}

	//The description itself
	.sideshow-step-text{
		clear: both;
		display: block;
		color: $sideshow-step-text-color;
		line-height: $sideshow-default-font-size + 10px;
	}

	//The "next/finish" button
	.sideshow-next-step-button{
		@include fa-play;
		float: right;
		margin-top: 10px;
	}

	//Lists (when using Markdown Syntax you can use lists in the step description)
	ul, ol{
		padding-left: 40px;
	}

	//An unordered list (when using Markdown Syntax you can use lists in the step description)
	ul{
		list-style-type: disc;
	}

	//An ordered list (when using Markdown Syntax you can use lists in the step description)
	ol{
		list-style-type: decimal;
	}
}

//An arrow used for pointing to an item inside the highlighted subject which deserves attention at the moment
//@extends %sideshow-fadable-element;
.sideshow-subject-arrow{
	@extend %sideshow-fadable-element;
	@include fa-caret-down;
	@include icon-font-size(40px);
	@include only-icon-button;
	color: $sideshow-subject-arrow-color;
	position: fixed;
	z-index: 15003;
	opacity: 0.7;
	@include animation( $name: sideshow-subject-arrow-animation, 
						$duration: $sideshow-long-transition-duration, 
						$timing-function: ease, 
						$iteration-count: infinite);
}

//The initial sideshow menu where user chooses a tutorial
.sideshow-wizard-menu{
	@include absolute-full-size;
	position: fixed;
	margin: auto;
	width: 900px;
	height: 550px;
	z-index: 15002;

	//The initial menu title
	.sideshow-wizard-menu-title{
		@include animation( $name: sideshow-wizard-menu-title-slideright, 
							$duration: 2s, 
							$timing-function: ease, 
							$iteration-count: 1, 
							$fill-mode: forwards);

		text-transform: uppercase;
		color: $sideshow-wizard-menu-title-color;
		font-size: 32px;
		font-family: $sideshow-default-light-font-family;
		position: relative;
	}

	//The initial menu tutorial list
	ul{
		li{
			@include clearfix;
			
			cursor: pointer;
			opacity: 0;
			position: relative;
			left: -90px;
			@include animation( $name: sideshow-wizard-menu-item-slidedown, 
								$duration: 2s, 
								$timing-function: ease, 
								$iteration-count: 1, 
								$fill-mode: forwards);

	    	height: 50px;
			margin-top: 20px;
			@for $i from 1 through 15{
		    	&:nth-child(#{$i}){
		    		animation-delay: 300ms + ($i * 300ms);
		    		-webkit-animation-delay: 300ms + ($i * 300ms);
		    	}
		    } 
				
			h2{
				@include transition(color $sideshow-default-transition-duration ease);
				text-transform: uppercase;
				color: $sideshow-wizard-menu-item-foreground-color;
			}

			.sideshow-wizard-menu-item-description{
				color: $sideshow-wizard-menu-item-foreground-color;
			}

			.sideshow-wizard-menu-item-estimated-time{
				@include fa-clock-o;
				@include transition(border-right $sideshow-default-transition-duration ease);
				border-right: solid 0 $sideshow-wizard-menu-item-foreground-color;
				opacity: 0.5;
				font-size: 10px;
				color: $sideshow-wizard-menu-item-foreground-color;
				float: left;
				height: 50px;
				width: 80px;
				margin-right: 10px;
			}

			&:hover{
				h2{
					color: lighten($sideshow-wizard-menu-item-hover-foreground-color, 20);
				}
				.sideshow-wizard-menu-item-estimated-time{
					border-right: solid 20px $sideshow-wizard-menu-item-foreground-color;
				}
			}
		}
	}

	//This class rule defines the closing animation for Sideshow menu
	&.sideshow-menu-closed{
		h1{
			@include animation( $name: sideshow-wizard-menu-title-fadeout, 
								$duration: $sideshow-long-transition-duration, 
								$timing-function: ease, 
								$iteration-count: 1, 
								$fill-mode: forwards);
		}
		ul{
			li{
				opacity: 1;
				@include animation( $name: sideshow-wizard-menu-item-slideleft, 
									$duration: $sideshow-long-transition-duration, 
									$timing-function: ease, 
									$iteration-count: 1, 
									$fill-mode: forwards);
		    @for $i from 1 through 15{
		    	&:nth-child(#{$i}){
		    		animation-delay: 150ms + ($i * 100ms);
		    		-webkit-animation-delay: 150ms + ($i * 100ms);
		    	}
		    } 
			}
		}
	}
}

//The Sideshow close button
.sideshow-close-button{
	@include fa-times; //FtloG!!! Why FontAwesome 4.* has changed this icon name from icon-remove to fa-times?!?!?!?!?!?!?!?
	@include icon-font-size($sideshow-medium-font-size);
	@include text-shadow(0 0 5px #030, 0 0 3px #000, 0 2px 3px #000);
	@include transition(text-shadow $sideshow-default-transition-duration ease);
	background-color: transparent!important;
	z-index: 15005;
	position: fixed;
	font-size: $sideshow-medium-font-size;
	bottom: 21px;
	right: 21px;
	&:hover{
		@include text-shadow(0 0 10px #030, 0 0 6px #000, 0 2px 5px #000, 0 0 7px #000);
		background-color: transparent!important;
		left: auto;
		top: auto;
	}
	&:active{
		outline-width: 0!important;
	}
}

//The Sideshow initial menu style when no tutorials are available
.sideshow-no-wizards-available{
	@include animation( $name: sideshow-wizard-menu-item-slidedown, 
						$duration: 2s, 
						$timing-function: ease, 
						$iteration-count: 1, 
						$fill-mode: forwards);
	color: $sideshow-wizard-menu-item-foreground-color;
	opacity: 0;
	position: relative;
	height: 50px;
	margin-top: 20px;
}