//Colors
sideshow-light-color = #FFF
sideshow-standout-color = #DA4435
sideshow-button-background-color = #DA4435
sideshow-button-foreground-color = sideshow-light-color

sideshow-mask-background-color = #222
sideshow-step-description-background-color = lighten(sideshow-mask-background-color, 10)
sideshow-step-description-title-color = sideshow-light-color
sideshow-step-position-color = lighten(sideshow-mask-background-color, 40)
sideshow-step-text-color = sideshow-light-color
sideshow-wizard-menu-item-foreground-color = sideshow-light-color
sideshow-wizard-menu-title-color = sideshow-light-color
sideshow-wizard-menu-item-hover-foreground-color = sideshow-standout-color
sideshow-subject-arrow-color = sideshow-standout-color
sideshow-close-button-foreground-color = sideshow-light-color

//Animation
sideshow-fast-transition-duration = 150ms
sideshow-default-transition-duration = 300ms
sideshow-long-transition-duration = 600ms

//Fonts
sideshow-default-font-size = 12px
sideshow-medium-font-size = 16px
sideshow-big-font-size = 20px
sideshow-default-light-font-family = OpenSans Light
sideshow-default-semibold-font-family = OpenSans Semibold
//By default, In Sideshow font-face imports we're getting just two variants of the OpenSans font family (the light and semibold)
//If you want all of them (e.g. For rich formatting using Markdown), you can enable the importing of the whole family
sideshow-enable-whole-opensans-family = false

//Others
sideshow-mask-opacity = 0.95
sideshow-fonts-path = "./"
